.Servers{
  z-index: 1;
  position: absolute;
  left:10px;
  width:50px;
  flex:1;
  margin: 5px 5px;
}
.ServerIcons{
  display: flex;
  border-radius: 100%;
  background-color: rgb(94, 36, 94);
  height:50px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}